<!-- Category cards -->
<div class="card-group row">
    <div class="card col-xs-12 col-sm-6 col-md-3 col-lg-2" *ngFor="let category of categories">
        <a class="card-block"
            (click)="select(category)"
            uiSref="categories.articles"
            [uiParams]="{ categoryId: category.id, page: 1, size: pageSize }"
            [uiOptions]="{ location: true }"
            title="{{category.text}}">
                <img src="{{category.image}}" class="icon">
                <h4>{{category.text}}</h4>
        </a>
    </div>
</div>
