<div class="card-group row" *ngIf="!selectedCategory">
    <div class="card col-xs-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let category of categories">
        <a class="card-block"
            (click)="select(category)"
            uiSref=".articles"
            [uiParams]="{ id: category.id, selectedCategory: category }"
            [uiOptions]="{ location: false }"
            title="{{category.text}}">
                <img src="{{category.image}}" class="icon">
                <h4>{{category.text}}</h4>
        </a>
    </div>
</div>
