<div class="article" *ngIf="article">
    <a class="btn btn-default back-btn"
        uiSref="categories.category.articles"
        [uiParams]="{ categoryId: category.id, page: pageNum, size: pageSize }"
        [uiOptions]="{ location: true }"
        *ngIf="category">
            <i class="icon icon-remove"></i>
    </a>
    <a class="btn btn-default back-btn"
        uiSref="categories.category.unread"
        [uiOptions]="{ location: true, reload: true }"
        *ngIf="!category">
            <i class="icon icon-remove"></i>
    </a>

    <ng-container *ngIf="!isError">
        <h2>
            <span [innerHTML]="article.title | preventOrphans"></span>
        </h2>
        <div [innerHTML]="article.body | safe:html"></div>
        <p>
            <strong>{{ 'STRINGS.articles.publishedDateLabel' | translate }}:</strong>
            {{ article.date | date:"MMM d, y" }}
        </p>
        <div>
            <strong>{{ 'STRINGS.app.categories' | translate }}:</strong>
            <ul class="list-inline">
                <li *ngFor="let category of article.categories">
                    <a uiSref="categories.category.articles"
                        [uiParams]="{
                            categoryId: category.categoryId,
                            page: 1,
                            size: pageSize,
                            sortCriterion: sortCriterion,
                            sortOrder: sortOrder
                        }"
                        [uiOptions]="{ location: true }">
                            {{ category.categoryName }}
                    </a>
                </li>
            </ul>
        </div>
    </ng-container>
</div>

<kb-system-notification
    *ngIf="isError"
    icon="icon-warning-sign"
    notificationClass="article-error"
    [message]="errorMessage">
</kb-system-notification>
