.categories-navigation {
    background: #fff;
    border: solid #eee 1px;
    border-radius: 2px;
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
}

.category-tree {
    border-right: solid #eee 1px;
    overflow-x: auto;
    padding: 5px 7.5px 7.5px;
}

.category-articles {
    border-left: solid #eee 1px;
    margin-left: -1px;
    padding: 0 7.5px;
}

.articles-list-container {
    background: #fff;
    padding: 0 30px;
}

.articles-list-container h3 {
    margin: 20px 0 15px;
}

.articles-list-container.compact {
    padding: 0 7.5px;
}

.articles-list-container.compact h3 {
    font-size: 1rem;
    font-weight: bold;
    margin: 15px 7.5px;
}

.article-container {
    border-left: solid #eee 1px;
}
