/* Bootstrap breadcrumb styles are pulling double-duty */
.breadcrumb {
    margin-bottom: 15px;

    &.kb-navigation-bar > li {
        letter-spacing: -.4px;
        max-width: initial;
    }

    &.kb-navigation-bar > li + li:before {
        content: '|';
    }

    &.kb-navigation-bar .active {
        color: inherit !important;
        cursor: default !important;
        text-decoration: none !important;
    }

    .jewel-count {
        padding-left: 3px;
    }
}
